@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ApplicationCore.Models.CastDetailsResponseModel

@{
    ViewData["Title"] = "Cast Detail Page";
}


<div class="rounded">
    <div class="container">
        <div class="row p-5">
            <div class="col-2 offset-3">
                <img class="w-75 " src="@Model.ProfilePath" alt="@Model.Name">
            </div>
            <div class="col">
                <h1 class="">@Model.Name</h1>
                <h3>
                    @(Model.Gender == "1" ? "Actress" : (Model.Gender == "2") ? "Actor" : "")
                    <a href="@Model.TmdbUrl" class="text-dark mx-3">
                        <i class="fa fa-share-square-o" aria-hidden="true"></i>
                    </a>
                </h3>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-light">
        <div class="row">
            @foreach (var movie in @Model.Movies)
            {
                <div class="col-3">
                    <partial name="_MovieCard" model="movie" />
                </div>
            }
        </div>
    </div>
</div>

